<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
  <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div id="v-app">
    <section class="chat">
      <h1>Websockets Tester</h1>
      <form action="" id='test-form'>
        <input v-model="key" type="text" />
        <button type="submit" @click.prevent="sendChatMessage()">Send</button>
      </form>
      <textarea v-model="value" rows="20" cols="70" form="test-form">  
        Đây là một ví dụ sử dụng thẻ textarea với thuộc tính rows và cols
      </textarea> 

      <p>
        <ul>
          <li v-for="msg of messages">
            <strong>{{ msg.key }}: </strong> 
            {{ msg.value }} 
          </li>
    
        </ul>
      </p>
    </section>
  </div>
  <script>

    var app = new Vue({
      el: "#v-app",
      data: {
        key: '',
        value: '',
        messages: [],
        socket: {chat: null},
        room: null
      },
      methods: {
        sendChatMessage(){
          // Check is user is member of active room
          console.log(this.value, typeof(this.value));
          this.value = JSON.parse(this.value);
          console.log(this.value, typeof(this.value));
          this.socket.chat.emit('chatToServer',{ key: this.key, value: this.value });
          this.key='';
          this.value='';
        },
        receiveChatMessage(msg) {
          this.messages.push(msg);
        },
        receiveAlertMessage(msg){
          this.alerts.push(msg);
        },
        toggleRoomMembership(){
          if(this.isMemberOfActiveRoom){
            this.socket.chat.emit('leaveRoom', this.activeRoom);
          } else{
            this.socket.chat.emit('joinRoom', this.activeRoom);
          }
        }
      },
      created() {
        // this.room = prompt('Enter your room:');

        this.socket.chat = io('http://localhost:3000/chat');
        this.socket.chat.on('chatToClient', (msg) => {
          this.receiveChatMessage(msg);
        });  
      }
    })
  </script>
</body>
</html>